nav
{
    position: relative;
    overflow: visible;
}
#langbutton
{
    cursor: pointer;
    white-space: nowrap;
    -webkit-box-shadow: inset 0px 0px 20px -6px rgba(0,0,0,0.71);
    -moz-box-shadow: inset 0px 0px 20px -6px rgba(0,0,0,0.71);
    box-shadow: inset 0px 0px 20px -6px rgba(0,0,0,0.71);
    padding: .3em .3em .3em .3em;
    border-radius: .4em;
    width: 6em;
    text-align: center;
}
.flag
{
    height: 1.5em;
    position: relative; 
    top: .4em;
}
